/* Reset styles */
html,body, body * { 
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif; 
    margin:0;
    padding:0;
    color:inherit;
    background-color:inherit;
    /* border:2px solid orange; */
 }

 body {
    background: #c30808;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e4d83a, #a7a7a7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #d3db5c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size:  cover;
    background-position:center center;
    
  }

  .login-register-wrapper {
      height: 1000%;
      width: 100%;
      margin:auto;
      padding:0 2em;
      outline:none;
      box-shadow: 20px rgba(233, 0, 0, 0);
      overflow: hidden; 
      color:#ffffff;
      background: linear-gradient(180deg, rgb(42, 42, 3) 0%, rgb(182, 194, 80) 52%, rgba(255, 0, 0, 0) 82%);
        
    }

  @media screen and (min-width: 540px){
    .login-register-wrapper{
        height: 560px;
        width: 500px;
        margin-top:5%;
        border-radius: 5px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    } 
}
  
  /* Nav buttons */
  .nav-buttons {
    width: 100%;
    height: 100px;
    padding-top: 40px;
    opacity: 1;
    margin-top: 50px;
    margin-bottom: 3em;
  }
  button {
      font-size: 1em;
      margin-right:1em;
      border:0px;
      cursor: pointer;
      
  }
  @media all and (min-width: 768px){
        button{
           font-size: 1.5em;
        } 
    }
   /* footer: forgot section */
   

    /* form styling */
    .form-group input {
        width: 100%;
        height: 35px;
        text-align: center;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
        background: rgba(255,255,255,.5);
    }
    


    .form-group label {
      text-transform: uppercase;
    }
    

    /*Form positioning and animation */

    form#registerform {
        left:500px;
        top:-185px;
        position:relative;
    }

    form{ 
        position: relative;
        transition: all .3s ease;
    }
    #loginBtn, #registerBtn {
        transition: all .5s ease;

    }
    .button-log{
        background:#2891c2;
        color:rgb(255, 255, 255);
        border-radius: 10px;
        position:relative;
        height:30px;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
        margin-top: 10px;
      }
      .button-log:hover{
        background:#fff;
        color:#315ce7;
      }
    
      .button-log:hover:before,button:hover:after{
        width:90%;
        transition:800ms ease all ;
      }
      
    /* .log-input{
        width: 10%;
        background-color: blue;
    } */
    /* @media all and (min-width: 768px){
        .cuadro{
           width: 20%:
        } */